<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Servicio BibliotecaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53880/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Servicio BibliotecaSoap" contract="ServiceReference1.ServicioBibliotecaSoap"
                name="Servicio BibliotecaSoap" />
        </client>
    </system.serviceModel>
</configuration>